[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
huggingface-hub = "*"
requests = "*"
bs4 = "*"
openai = "*"
pinecone-client = "*"
tiktoken = "*"
html5lib = "*"
qdrant-client = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
